<!DOCTYPE html>
<html>
<head>
    <title>fromulaire</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

</head>

<style>
    table,td{
        border:1px solid black;
        border-collapse: collapse;
    }
</style>
<body>
<h1>lsite des personnes</h1>
<table class="table table-responsive-lg">
    <thead>
        <tr>
            <th>id</th>
            <th>nom</th>
            <th>prenom</th>
            <th>email</th>
            <th>password crypted</th>
        </tr>
    </thead>
    <tbody>
    {% for personne in list %}
        <tr>
            {% for value in personne  %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>

</html>